.page-template-template-eco-cuisine {

	// $color__dark_navy: #152838;
	// $color__medium_blue_gray: #44596e;
	// $color__light_blue_gray: #647a8c;

	.site-inner {

		@media only screen and (max-width: 860px) {
		    padding: 0;
		}

		background-color: white;
		max-width: 100%;
		padding-top: 0;
	}

	.cuisine-header {
		background-color: $color__medium_blue_gray;
		color: white;
		padding: 30px;
		width: 100%;

		h2 {
			margin: auto;
			max-width: 1100px;
		}
	}

	.soliloquy-controls-direction {
		display: none;
	}

	.cuisine-content {

		@media only screen and (max-width: 860px) {
			padding-left: 5%;
			padding-right: 5%;
		}

		margin: 0 auto;
		max-width: 1100px;
		padding: 60px 0;

		h2 {
			font-weight: 400;
		}

		.cuisine-out-menus {

		}
	}

	.our-cookbook {

		background-color: #eeeeee;
		margin: 0 auto;
		padding: 60px 0;

		.cookbook-wrapper {

			@media only screen and (max-width: 860px) {
				display: block;
				padding-left: 5%;
				padding-right: 5%;
			}

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0 auto;
			max-width: 1100px;

			.cookbook-image {
				width: 55%;
			}

			.cookbook-content {
				width: 35%;
			}

			.cookbook-image,
			.cookbook-content {
				@media only screen and (max-width: 860px) {
					margin-bottom: 20px;
					width: 100%;
				}
			}
		}

		h2 {
			font-weight: 400;
		}
	}

	.our-recipes {

		@media only screen and (max-width: 860px) {
			padding-left: 5%;
			padding-right: 5%;
		}

		margin: 0 auto;
		max-width: 1100px;
		padding-top: 60px;

		h2 {
			font-weight: 400;
			margin-bottom: 20px;
		}

		.recipes-wrapper {

			@media only screen and (max-width: 860px) {
				display: block;
			}

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.recipe-links {
				width: 25%;

				span {
					width: 100%;
				}
			}

			.recipe-content {
				border-left: 1px solid #000000;
				padding-left: 5%;
				width: 75%;
			}

			.recipe-links,
			.recipe-content {
				@media only screen and (max-width: 860px) {
					margin-bottom: 20px;
					width: 100%;
				}
			}

		}


	}

}
