.home.page {

	// Above the Fold
	.site-inner {
		max-width: 100%;
		padding-top: 0;
	}

	@media only screen and (max-width: 860px) {
		.site-inner {
		    padding: 0;
		}
	}

	.soliloquy-controls-direction {
	    display: none;
	}

	.homepage-title-div {
		background-color: $eco_green;
		color: white;
		padding-bottom: 50px;
		padding-top: 30px;
		text-align: center;

		h2 {
			font-size: 3.5rem;
		}
	}

	.plan-your-trip-box {
		top: -30px;
	    position: relative;
	    text-align: center;

		button:hover {
			background-color: #eeeeee;
		}
	}


	// Page Image Boxes
	.homepage-page-image-boxes {

		display: flex;
		color: #999999;
		flex-wrap: wrap;
		font-family: 'Playfair Display', serif;
		justify-content: space-around;
	    margin: 0 auto;
		max-width: 1050px;
		padding-top: 50px;

		a {
			color: black;
			text-decoration: none;
		}

		.homepage-page-image-box {

			@media screen and (max-width: 860px) {
				max-width: 400px;
				width: 100%;
			}

			display: flex;
    		flex-direction: column;
			margin-bottom: 40px;
			width: 400px;

			@media screen and (min-width: 1023px) {
				width: 460px;
			}


			img {
				border: 1px solid $border__color;
				border-bottom: 0;
			}

			div {
				background-color: white;
				border: 1px solid $border__color;
				padding: 15px;
				text-align: center;
			}

		}
	}

	// Homepage Video
	.homepage-video {
		// background-color: white;
		// padding: 60px 0 60px;

		div {
			// margin: 0 auto;
			// max-width: 900px;
		}
	}

	//Homepage Recent Blog Posts
	.homepage-recent-blog-posts {
		padding: 40px;
		text-align: center;

		h2 {
			margin: 20px auto 40px;
			font-size: 3rem;
		}

		.recent-post-box-container {
		    padding-bottom: 20px;
		}

		.recent-post-box {

			@media screen and (max-width: 860px) {
				min-height: 310px;
			}

			@media screen and (max-width: 700px) {
				min-height: 284px;
				text-align: center;
			}

    		clear: both;
			margin: 40px auto;
			max-width: 900px;
			min-height: 284px;
			text-align: left;

			.recent-post-box-content {

				@media screen and (max-width: 860px) {
					float:right;
					width: 50%;
				}

				@media screen and (max-width: 700px) {
					float: none;
					width: 100%;
				}

			    height: 100%;
			    min-height: 284px;
				position: relative;

				h3 {
					color: #152838;
				}

				p {
					@media screen and (min-width: 860px) {
						max-height: 108px;
					    overflow: hidden;
						text-overflow: ellipsis;
					}

				    margin: 0 0 15px;
				}

				button {

					@media screen and (max-width: 860px) {
						position: relative;
					}

					background-color: #CFAA42;
					bottom: 0;
					border: 1px solid #333;
					color: white;
					position: absolute;
				}

				button:hover {
					background-color: transparent;
					border: 1px solid #333;
					color: #333;
				}
			}
		}

		img {

			@media screen and (max-width: 860px) {
				width: 45%;
			}
			@media screen and (max-width: 700px) {
				float: none;
				margin-right: 0;
				width: 325px;
			}

			border: 1px solid $border__color;
			float: left;
			margin-right: 30px;
			width: 425px;
		}

		a.button {
			color: #ffffff;
			text-decoration: none;
		}

		a.button:hover {
			color: #333333;
			text-decoration: none;
		}
	}


	//As Seen Section
	.homepage-page-as-seen {
		background-color: $eco_green;
		text-align: center;

		h2 {
			margin: 20px 0;
		}

		.as-seen-layer-container {
			background-color: rgba(185,200,190,.7);
			padding: 30px 0;

		}

		.as-seen-logo-container {
			margin: 20px auto;
			max-width: 1100px;

			img {
				margin: 20px 40px;
				width: 230px;
			}
		}

		a {
			text-decoration: none;
		}
	}

}
