.page-template-template-eco-homepage {

	// Above the Fold
	.site-inner {
		max-width: 100%;
		padding-top: 0;
	}

	@media only screen and (max-width: 860px) {
		.site-inner {
		    padding: 0;
		}
	}

	.soliloquy-controls-direction {
	    display: none;
	}

	.homepage-title-div {
		background-color: $eco_green;
		color: white;
		padding-bottom: 50px;
		padding-top: 30px;
		text-align: center;

		h2 {
			font-size: 3.5rem;
		}
	}

	.plan-your-trip-box,
	.recent-blog-posts-box {
		top: -15px;
	    position: relative;
	    text-align: center;

		span {
			background-color: white;
			border: 1px solid $border__color;
			padding: 30px 50px;
		}
	}


	// Page Image Boxes
	.homepage-page-image-boxes {

		display: flex;
		color: #999999;
		flex-wrap: wrap;
		font-family: 'Playfair Display', serif;
		justify-content: space-around;
	    margin: 0 auto;
		max-width: 1050px;
		padding-top: 50px;

		a {
			color: black;
			text-decoration: none;
		}

		.homepage-page-image-box {
			display: flex;
    		flex-direction: column;
			margin-bottom: 40px;
			width: 400px;

			@media screen and (min-width: 1023px) {
				width: 460px;
			}


			img {
				border: 1px solid $border__color;
				border-bottom: 0;
			}

			div {
				background-color: white;
				border: 1px solid $border__color;
				padding: 15px;
				text-align: center;
			}

		}
	}

	// Homepage Video
	.homepage-video {
		background-color: white;
		padding: 60px 0 60px;

		div {
			margin: 0 auto;
			max-width: 900px;
		}
	}

	//Homepage Recent Blog Posts
	.homepage-recent-blog-posts {
		padding: 20px;
		text-align: center;

		h2 {
			margin-bottom: 40px;
			font-size: 2.5rem;
		}

		.recent-post-box {
    		clear: both;
			margin: 20px auto;
			max-width: 900px;
			min-height: 250px;
			text-align: left;

			@media screen and (max-width: 900px) {
				text-align: center;
			}
		}

		img {
			border: 1px solid $border__color;
			float: left;
			margin-right: 10px;

			@media screen and (max-width: 900px) {
				float: none;
			}
		}

		a {
			color: #999999;
			text-decoration: none;
		}
	}


	//As Seen Section
	.homepage-page-as-seen {
		background-color: $eco_green;
		text-align: center;

		h2 {
			margin: 20px 0;
		}

		.as-seen-layer-container {
			background-color: rgba(185,200,190,.7);
			padding: 30px 0;

		}

		.as-seen-logo-container {
			margin: 20px auto;
			max-width: 1100px;

			img {
				margin: 20px 40px;
				width: 230px;
			}
		}

		a {
			text-decoration: none;
		}
	}

	//Homepage Subscribe section
	.homepage-subscribe {
		background-color: #152838;
		padding: 20px 40px;

		#mc_embed_signup {
			max-width: 1100px;
		    margin: auto;
		}

		#mc_embed_signup_scroll {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			label {
				color: white;
				font-size: 1.5em;
				min-width: 50%;
				padding-top: 5px;
			}

			input#mce-EMAIL {
			    height: 20px;
				margin-top: 5px;
				width: 400px;
			}

			input[type="submit"] {
				background-color: #152838;
				border: 3px solid white;
				color: white;
				height: 34px;
				margin-top: 5px;
				padding: 0;
				width: 150px;
			}

		}
	}

}
