.page-template-template-eco-departures {

	$color__dark_navy: #152838;
	$color__medium_blue_gray: #44596e;
	$color__light_blue_gray: #647a8c;

	.site-inner {
		max-width: 100%;
		padding-top: 0;
	}

	.departures-dates {

		.departure-dates-header {
			background-color: $color__medium_blue_gray;
			color: white;
			padding: 30px;
			width: 100%;

			h2 {
				margin: auto;
				max-width: 1100px;
			}
		}

		.departure-dates-table-wrap {
			margin: 30px auto;
			max-width: 1100px;
		}

		.departure-view-iteneraries {
		    display: flex;
		    max-width: 1100px;
		    margin: auto;
			margin-bottom: 60px;
		    justify-content: space-around;

			a {
				width: 100%;
	    		text-align: center;
				text-decoration: none;
			}

			div {
				color: white;
				font-size: 22px;
				font-size: 2.2rem;
				padding: 11px 60px;
				width: 335px;
			}

			#view-itens {
				background-color: $color__dark_navy;
				float: left;
				width: 90%
			}

			#iten-a {
				background-color: $color__medium_blue_gray;
				float: left;
			}

			#iten-b {
				background-color: $color__light_blue_gray;
			}


			#arrow-right {
				border-top: 28px solid transparent;
			    border-bottom: 29px solid transparent;
			    border-left: 30px solid $color__dark_navy;
				float: left;
			    height: 0;
			    margin-left: 0px;
			    padding: 0;
			    width: 0;
			}

			#arrow-from-right {
				border-top: 28px solid $color__medium_blue_gray;
			    border-bottom: 29px solid $color__medium_blue_gray;
				border-left: 29px solid transparent;
				float: left;
				height: 0;
			    padding: 0;
			    width: 0;
			}
		}
	}

	.departure-title-div {
		background-color: $eco_green;
		color: white;
		padding-bottom: 50px;
		padding-top: 30px;
		text-align: center;

		h2 {
			font-size: 3.5rem;
		}
	}

	.book-now-box {
		top: -30px;
	    position: relative;
	    text-align: center;

		button:hover {
			background-color: #eeeeee;
		}
	}

	.departure-expedition-content-wrap {
		margin: auto;
		max-width: 1100px;

		h3 {
			font-size: 35px;
			font-size: 3.5rem;
		}

		h5 {
			font-family: 'Roboto', sans-serif;
			font-weight: normal;
			letter-spacing: 1px;
		}

	}



}
