@import "1.entry";
@import "2.entry-meta";
@import "3.comments";
@import "4.pagination";
@import "5.homepage";
@import "6.departures";
@import "7.rates";
@import "8.itinerary-a-b";
@import "9.itinerary-single";
@import "10.cuisine";
@import "11.hotels";
@import "12.tours";

.in-the-media {
	.press {
		width: 50%;
		float: left;
		margin-bottom: 16px;
		min-height: 75px;
		&:nth-child(odd) {
			clear:left;
		}

		.entry-content {
			padding-right: 10px;
		}

		@media screen and (max-width: 823px) {
			width: 100%;
			float: none;
		}
	}

	.press-thumb {
		float: left;
		vertical-align: middle;
		margin-right: 10px;
	}
	.press-content {
		.press-link {
			text-decoration: none;
		}
		.press-title {
			font-weight: bold;
		}
		.press-tagline {
			display: block;
			font-style: italic;
		}
		.press-download {
			font-size: 12px;
			img.attachment-thumbnail {
				width: 13px;
				height: auto;
				position: relative;
				top: 6px;
				margin-right: 10px;
			}
		}
	}
}

.archive-pagination.pagination {
	clear: both;
}

// ****************************************************************** CUZCO
.cuzco-content {
	h6 {
		float: left;
		clear: both;
		width: 20%;
		font-weight: bold;
		color: black;

		@media screen and (max-width: 823px) {
			font-size: 12px;
		}

		&+p {
			margin-left: 20%;
			clear: right;
		}
	}
}

// ****************************************************************** SITEMAP
.sitemap-list {
	h2, h3 {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 5px;
		line-height: 1.5;
	}
}
