/*
11 Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
	background-color: $bgGreen;
	max-width: 1280px;
	min-height: 210px;
	margin: 0 auto;
	width: 90%;
	@include rem(padding, 1, 0);

	color: white;
	@include breakpoint(small) {
		width: 95%;
	}
}

.footer-left {
	h4 {
		@include rem(font-size, 1.4);
		text-transform: lowercase;
		@include rem(margin, 0, 0, 0.875);
		font-weight: normal;
		color: #fff;
	}
	.phone {
		@include rem(margin-top, 1);
		span {
			color: #b6c627;
			@include rem(font-size, 0.875);
		}
	}
	a {
		color: white;
		text-decoration: none;
		@include rem(font-size, 1);
	}

	@include breakpoint(small) {
		text-align: center;
	}
}
.footer-center {
	text-align: center;
}
.footer-right {
	text-align: right;

	@include breakpoint(small) {
		text-align: center;
	}

	.contact-info {
		float: right;
		clear: right;
		line-height: 1;
		@include rem(margin-top, 1.5);
		@include rem(font-size, 0.75);

		@include breakpoint(small) {
			float: none;
			@include rem(margin-top, 1);
		}

		strong {
			display: block;
			@include rem(font-size, 1.2);
		}
	}
}

.footer-logos {
	background-color: white;
	@include border-radius( 5px );
	max-width: 500px;
	margin: 0 auto;

	a {
		display: inline-block;
		height: 54px;
	}
}

.footer-links {
	color: #c7c8ca;
	@include rem(font-size, 0.625);
	line-height: 1.5;
	@include rem(margin-top, 3);
	a {
		color: #c7c8ca;
		text-decoration: none;
		&:hover, &:focus {
			color: white;
		}
	}
}
