/*
12 Forms & Buttons
---------------------------------------------------------------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 5px #ddd inset;
	padding: 8px;
	padding: 0.5rem;
	// width: 100%;
}

#header .search-form {
	float: right;
	margin-top: 56px;
	margin-top: 3.5rem;
	width: 100%;
}

button,
input[type="button"],
input[type="submit"],
.btn {
	background-color: #abba26;
	border: none;
	box-shadow: none;
	cursor: pointer;
	@include rem(padding, 0.5, 0.75, 0.5, 0.75);
	width: auto;
	color: white;
}

button:hover,
input:hover[type="button"],
input:hover[type="submit"],
.btn:hover {
	background-color: $linkBlue;
}

.enews input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.search-form {
	input[type="search"] {
		width: 85%;
		@include border-radius(0);
		@include border-top-right-radius( 0 );
		@include border-bottom-right-radius( 0 );
	}
	input[type="submit"] {
		width: 15%;
		height: 36px;
		padding: 0;
		@include border-radius(0);
		background: #0070af url(images/search.png) no-repeat 49% 0;
		@extend %hide_text;
	}
}

/* 12a - Gravity Forms ----------- */

#content div.gform_wrapper input,
#content div.gform_wrapper select,
#content div.gform_wrapper textarea,
#content div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	font-size: 1rem;
	padding: 16px;
	padding: 1rem;
}

#content div.gform_wrapper select.gfield_select {
	height: 24px;
}

#content div.gform_wrapper input[type="submit"] {
	padding: 16px 24px;
	padding: 1rem 1.5rem;
}

#content div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0;
	margin: 0;
}

// Book Now form in widget
.widget {
	.gform_wrapper {
		margin-top: 0;
	}

	.gform_wrapper .top_label .gfield_label,
	.gform_wrapper .left_label .gfield_label {
		@include rem(font-size, 0.75);
	}

	// Remove top margin from first field label
	#field_1_1 .gfield_label {
		// margin-top: 0;
	}

	.gform_wrapper .left_label .gfield_label,
	.gform_wrapper .top_label .gfield_label {
		color: $brandGreen;
	}

	.gform_wrapper .left_label .gfield_label {
		width: 27%;
	}

	.gform_wrapper .left_label input.large,
	.gform_wrapper .left_label select.large,
	.gform_wrapper .left_label textarea.textarea {
		width: 68%;
	}

	.gform_wrapper input[type=text],
	.gform_wrapper input[type=url],
	.gform_wrapper input[type=email],
	.gform_wrapper input[type=tel],
	.gform_wrapper input[type=number],
	.gform_wrapper input[type=password],
	.gform_wrapper textarea.textarea {
		@include rem(padding, 0.5);
	}

	.gform_wrapper textarea.textarea {
		height: 50px;
	}

	.gform_wrapper select.gfield_select {
		height: 24px;
	}

	.gform_wrapper .gform_footer {
		margin-top: 0;
	}
}

.gform_wrapper .gfield.field-half {
	width: 50%;
	float: left;
	clear: none;

	&:nth-of-type(odd) {
		padding-right: 10px;
	}
}
