.worldnomads-calculator {
	#wn_calculator {
		margin: 0 auto;
	}
}

#wn_calculator {width:550px; background: #01A9DA url('http://worldnomads.com/turnstile/qp/common/images/bg_module_footer_wn_555_nopromo.jpg') bottom left no-repeat; font-size:11px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
#wn_calculator #blue550 {width:520px; margin: 15px;}
#wn_calculator #blue550 h2 {font-size: 22px; color: #FFF; border:none;}
#wn_calculator #blue550 h2 span { color:#FFF; font-size: 100%; display:block; padding:5px 0;}
#wn_calculator #blue550 .blueLogo {display:block; position:absolute; top:10px; right:10px;}
#wn_calculator #blue550 .rowWrap { margin: 12px 0; }
#wn_calculator #blue550 .submit.button { position:relevant; float:left; margin:10px 0 0 265px;}
#wn_calculator #blue550 .checkbox {display:inline; float:left; margin-bottom:3px;}
#wn_calculator #blue550 .checkbox label {width:auto;}
#wn_calculator #blue550 select#qp-coverage, #wn_calculator #blue550 select#country-residence, #wn_calculator #blue550 select#qp-province{width:250px!important;}
#wn_calculator #blue550 label, #wn_calculator #blue550 h4 { color: #FFF;font-weight: normal;float: left;width: 243px;text-align: right;display: inline;margin-right: 20px;font-size: 13px;}
#wn_calculator #blue550 #footer {position: relative; width:100%; float:left; }
#wn_calculator #blue550 #footer .supp-links {display:block; position: relative; margin:-30px 0 30px 430px;}
#wn_calculator #blue550 #footer .supp-links a {color: #8EC9DA; display:block; width:110px;}
#wn_calculator #blue550 #footer #wn_insurers {display:block; position:relative; float:left;}

#wn_calculator input[type=radio] {
	box-shadow: none;
}
#wn-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(black, 0.3);
	z-index: 100;
}

.ui-dialog {
	z-index: 100;
}
.ui-dialog.ui-widget {
	outline-width: 0;
}

.ui-dialog-titlebar {
	text-align: right;
}
