/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: #fff;

  @media screen and (min-width: 1023px) {
	  margin-top: 68px;
  }
}

.site-header > .wrap {
  padding: 20px 0;
}

.top-bar {

	@media screen and (min-width: 1023px) {
		position: fixed;
	  	background-color: #eeeeee;
	  	z-index: 999;
    }

	color: #999999;
	display: flex;
	font-family: 'Playfair Display', serif;
	justify-content: space-around;
	padding: 10px 0;
	width: 100%;

	section {
		flex-grow: 1;
		margin: 0 10px;
	}

	.widget_search {
		flex-grow: 10;
	}

	.widget_search .widget-wrap {
		display: inline-flex;


		h3 {
			margin: 10px;
		}

		input {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #999999;
			color: #999999;
			padding: 0;
		}
	}

	.widget_text .widget-wrap {

		a {
			color: #999999;
			text-decoration: none;
		}
	}

	.widget.simple-social-icons ul li {
	    margin: 0 0 12px !important;
	}

}
